# For testing, please complete this file with your appropriate credentials
# and rename to .env in the test directory.
# 
# Afterward, the test options in the NPM scripts can be used as normal.

# ISE 2.4 test environment
ISE24_HOST=test-ise.domain.com
ISE24_USER=admin
ISE24_PASS=P@ssw0rd
# ISE 2.6 test environment
ISE26_HOST=test-ise.domain.com
ISE26_USER=admin
ISE26_PASS=P@ssw0rd
# ISE 2.7 test environment
ISE27_HOST=test-ise.domain.com
ISE27_USER=admin
ISE27_PASS=P@ssw0rd
# ISE 3.0 test environment
ISE30_HOST=test-ise.domain.com
ISE30_USER=admin
ISE30_PASS=P@ssw0rd
